################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.replit
.package-lock.json
.package.json
replit.nix
.gitignore