:root {
    /* --primary:  rgb(20, 181, 235); */
    --primary: rgb(135, 215, 241);
    --lightprimary: rgb(135, 215, 241);
    --background: rgb(247, 247, 247);
    --darkwhite: rgb(241, 241, 241);
    --banner: #053f54;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--lightprimary);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--banner);
    border-radius: 0px;
    border: 0px none #ffffff;
    border-radius: 5px;
}