.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 10px;
}

.group {
    background-color: #ffffff;
    border: 1px solid #d1d5db;
    border-radius: 5px;
    margin: 0 20px 20px 0;
    padding: 0 20px 20px 20px;
}

.stats {
    display:inline-block;
    background-color: rgb(135, 215, 241);
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #d1d5db;
    border-radius: 5px;
}

h2 {
    margin-bottom: 5px;
}

h5 {
    margin-top: 0;
}

