:root {
    /* --primary:  rgb(20, 181, 235); */
    /* --primary: rgb(135, 215, 241); */
    --primary: #e0f2fe;
    --nav: #1e3a8a;
    --lightprimary: rgb(135, 215, 241);
    --background: #f8fafc;
    --darkwhite: #ffffff;
    --banner: #053f54;
    --bordercolor: #d1d5db;
    --headerfont: 'Montserrat Alternates', 'Consolas', 'Courier New', monospace;
    --textfont: 'Montserrat', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: rgb(135, 215, 241);
}

*::-webkit-scrollbar-thumb {
    background-color: #053f54;
    border-radius: 0px;
    border: 0px none #ffffff;
    border-radius: 5px;
}